extends layout
block estilo
  link(rel="stylesheet" type='text/css' href="/stylesheets/styleUsuario.css")
  link(rel="stylesheet" type='text/css' href="/stylesheets/styleFormularios.css")
block content
  div.row.container
    div.card-panel.indigo.lighten-5.z-depth-5
      form
        h5.center.flow-text Asignación de Asesor Interno para Residencias Profesionales
        div.row
          div.input-field.col.l6.s12
            i.material-icons.prefix today
            input.datepicker(type="date")
            label(for="txtFecha") Fecha
          div.input-field.col.l6.s12
            i.material-icons.prefix reorder
            input.validate(type="text",maxlength="10")
            label(for="txtFolio") Folio
        div.row
          div.input-field.col.l8.s12
            i.material-icons.prefix contacts
            input.validate(type="text")
            label(for="txtDocente") Nombre del docente
        div.row
          div.input-field.col.l6.s12
            i.material-icons.prefix person
            input.validate(type="text")
            label(for="txtNombreResidente") Nombre del residente
          div.input-field.col.l6.s12
            i.material-icons.prefix local_library
            input.validate(type="text")
            label(for="txtCarrera") Carrera
          div.input-field.col.l8.s12
            i.material-icons.prefix folder_shared
            input.validate(type="text")
            label(for="txtNombreProyecto") Nombre del proyecto
          div.input-field.col.l6.s12
            i.material-icons.prefix playlist_add
            input.validate(type="text")
            label(for="txtPeriodoRealizacion") Periodo de realización
          div.input-field.col.l6.s12
            i.material-icons.prefix equalizer
            input.validate(type="text")
            label(for="txtEmpresa") Empresa
        div.row.hide-on-med-and-down
          div.input-field.right-align.col.l12
            button.btn.waves-effect.green.darken-4(type="submit" name="action") Cancelar
              i.material-icons.right reply
            button.btn.waves-effect.green.darken-3(type="submit" name="action") Generar PDF
              i.material-icons.right note_add
        div.row.hide-on-large-only
          div.input-field.right-align.fixed-action-btn.horizontal
            a.btn-floating.btn-large.green.darken-1
              i.large.material-icons done_all
            ul
              li
                a.btn-floating.deep-orange.lighten-1yellow.darken-1
                  i.material-icons reply
              li
                a.btn-floating.orange.darken-1
                  i.material-icons note_add
